body{
  font-family: Sans-Serif;
  background: #001e4A;
  color: white;
  
} 
.welcome{
  color: #56f9;
  font-size: 27px;

} 
.info{
  border: 2px solid white;
  padding: 27px;
  
}
b{color:red;} 
img{
  will-change: 100%;
}